services:
  redis:
    image: redis:8
    ports:
      - "6379:6379"

  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    ports:
      - "3001:3001"
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis

  worker:
    build:
      context: .
      dockerfile: Dockerfile.worker
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
      - HOST_CWD=${PWD}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./temp:/app/temp
